

html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 130px;
}

.footer{
position: absolute;
	bottom: 0;
	width: 100%;
	 line-height: 50px;
	text-align: center;
	
	/* Set the fixed height of the footer here */
	height: 50px;
	background-color: #d3d3d3;
}



.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus {
	color: #00a652;
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:hover,
	.navbar .navbar-nav>.active>a:focus {
	color: #00a652;
	background-color: #000000;
}

.navbar .navbar-toggle {
	border-color: #00a652;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
	background-color: #00a652;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.message .self {
  font-weight: 600;
}

.count.danger {
  color: #a94442;
}
